.ds-badge {
  display: inline-flex;
  align-items: center;
  padding: var(--ds-components-badge-paddingY) var(--ds-components-badge-paddingX);
  font-size: var(--ds-components-badge-fontSize);
  font-weight: var(--ds-typography-fontWeight-bold);
  font-family: var(--ds-typography-fontFamily-primary);
}

.ds-badge--pill {
  border-radius: var(--ds-components-badge-radius);
}

.ds-badge--success {
  background-color: var(--ds-components-badge-variants-success-bg);
  color: var(--ds-components-badge-variants-success-text);
}

.ds-badge--danger {
  background-color: var(--ds-components-badge-variants-danger-bg);
  color: var(--ds-components-badge-variants-danger-text);
}

.ds-badge--warning {
  background-color: var(--ds-components-badge-variants-warning-bg);
  color: var(--ds-components-badge-variants-warning-text);
}

.ds-badge--info {
  background-color: var(--ds-components-badge-variants-info-bg);
  color: var(--ds-components-badge-variants-info-text);
}

.ds-badge--neutral {
  background-color: var(--ds-components-badge-variants-neutral-bg);
  color: var(--ds-components-badge-variants-neutral-text);
}
